.errorpage.container {
  height: 100% !important;
  min-height: 100% !important;
}
.errorpage.container .main-block {
  height: 100% !important;
  min-height: 100% !important;
}
.error-404-back {
  background: url("/static/assets/image/404image.jpeg") no-repeat;
}
#errorpage-content {
  height: 100%;
  min-height: 100%;
  padding-top: 15%;
}
#errorpage-content .error-title {
  font-size: 60px;
  color: #16a085;
  font-weight: normal;
}
#errorpage-content .error-description {
  font-size: 18px;
  font-weight: 700;
}
#errorpage-content .btn {
  width: 140px;
  height: 26px;
  font-size: 12px;
  line-height: 8px;
}
