#new-diagnose-wrapper .header > div,
#new-audit-wrapper .header > div {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  margin: 10px 15px 20px;
}
#new-diagnose-wrapper .header > div span,
#new-audit-wrapper .header > div span {
  font-size: 13px;
  margin-right: 10px;
}
#new-diagnose-wrapper .header > div span.title,
#new-audit-wrapper .header > div span.title {
  font-size: 20px;
  margin-right: 100px;
}
#new-diagnose-wrapper .header > div .right,
#new-audit-wrapper .header > div .right {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 6px;
}
#new-diagnose-wrapper .header > div .right #rollback-link,
#new-audit-wrapper .header > div .right #rollback-link {
  color: #e74c3c;
}
#new-diagnose-wrapper .form-group label,
#new-audit-wrapper .form-group label {
  font-size: 14px;
}
#new-diagnose-wrapper .form-group .submit-btn,
#new-audit-wrapper .form-group .submit-btn {
  margin-right: 10px;
}
#new-audit-wrapper #exists-diagnose-wrapper {
  margin-bottom: 50px;
}
#new-audit-wrapper #exists-diagnose-wrapper #auditText {
  height: 150px;
}
#new-audit-wrapper #exists-diagnose-wrapper .form-group p {
  font-size: 15px;
  padding-top: 10px;
}
#new-diagnose-wrapper {
  margin-bottom: 50px;
}
#new-diagnose-wrapper .content {
  position: relative;
}
#new-diagnose-wrapper .content .patient-info {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}
#new-diagnose-wrapper .content .patient-info > div {
  line-height: 2.4;
}
#new-diagnose-wrapper .content .patient-info > div h6 {
  font-size: 15px;
}
#new-diagnose-wrapper .content .patient-info > div span {
  color: #808080;
}
#new-diagnose-wrapper .content .patient-info > div span.head {
  color: #000000;
  font-weight: 700;
  margin-right: 5px;
}
#new-diagnose-wrapper .content .patient-info > div p {
  color: #808080;
  margin: 0;
  font-size: 13px;
  display: inline-block;
}
#new-diagnose-wrapper .content .tree-top {
  position: relative;
  margin-top: 20px;
  height: 30px;
}
#new-diagnose-wrapper .content .tree-title {
  font-size: 14px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#new-diagnose-wrapper .content .load-template-btn {
  position: absolute;
  right: 0;
  top: -2px;
}
#new-diagnose-wrapper .content #tree {
  margin-top: 0px;
}
#new-diagnose-wrapper .content #imageDes {
  height: 200px;
}
#new-diagnose-wrapper .content #diagnoseResult {
  height: 200px;
}
#admin-fenzhen-content .side-title {
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}
#admin-fenzhen-content .form-inline {
  padding-left: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#admin-fenzhen-content .form-inline .form-group {
  margin-right: 20px;
}
#admin-fenzhen-content .form-inline .form-group .select .btn {
  width: 120px;
}
#admin-fenzhen-content .form-inline .form-group label {
  margin-right: 10px;
}
#admin-fenzhen-content .form-inline .form-group .input-wrapper {
  display: inline-block;
  width: 150px;
}
#admin-fenzhen-content .form-inline .form-group .input-wrapper .input-sm {
  border-radius: 3px;
}
#admin-fenzhen-content .form-inline .form-group .input-wrapper .input-group .btn {
  padding-top: 7px;
}
#admin-fenzhen-content .count-wrapper {
  color: red;
  margin-top: 20px;
}
#admin-fenzhen-content .result-table {
  margin-top: 10px;
  font-size: 15px;
}
#admin-fenzhen-content .result-table .action-group > a {
  margin-right: 5px;
  text-decoration: underline;
}
#admin-fenzhen-content #all-apply-wrapper .form-inline {
  margin-top: 10px;
  text-align: center;
}
#admin-fenzhen-content #all-apply-wrapper .form-inline .multiselect-container li {
  text-align: left;
}
#admin-fenzhen-content #all-apply-wrapper .form-inline .form-group {
  margin-right: 20px;
}
#admin-fenzhen-content #all-apply-wrapper .form-inline .form-group input.form-control {
  max-width: 200px;
  border-width: 1px;
  padding-left: 20px;
}
#admin-fenzhen-content #all-apply-wrapper .form-inline .form-group .submit-btn {
  width: 100px;
}
#admin-fenzhen-content #my-apply-wrapper .form-inline {
  text-align: center;
}
#admin-fenzhen-content #my-apply-wrapper .form-inline .multiselect-container li {
  text-align: left;
}
#admin-fenzhen-content #my-apply-wrapper .form-inline .submit-btn {
  width: 100px;
  margin-top: -8px;
}
