#homepage-content {
  /*banner right*/
}
#homepage-content .home-highlight-wrapper {
  margin-bottom: 30px;
}
#homepage-content .home-highlight-wrapper .main-entry-wrapper {
  border-top: 1px solid #e6e6e6;
}
#homepage-content .highlighted-block-inside {
  padding: 0 25px 25px 25px;
  text-align: center;
  position: relative;
}
#homepage-content .highlighted-block-inside .title-sep {
  margin-top: 0;
  padding-top: 15px;
  text-align: left;
}
#homepage-content .website-actions-block .action-wrap {
  height: 220px;
  overflow: hidden;
}
#homepage-content .website-actions-block .action-wrap ul {
  text-align: left;
  padding: 0;
}
#homepage-content .website-actions-block .action-wrap ul li {
  float: none;
  list-style: none;
  position: relative;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}
#homepage-content .website-main-news-block img {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
}
#homepage-content .website-main-news-block .more-link {
  position: absolute;
  font-size: 14px;
  right: 20px;
}
#homepage-content .mainpage-feedback-block {
  text-align: left;
  height: 510px;
  overflow: hidden;
}
#homepage-content .mainpage-feedback-block .sharing-list-wrapper {
  overflow: hidden;
  padding-top: 5px;
  padding-right: 5px;
}
#homepage-content .mainpage-poster-wrapper {
  padding-left: 10px;
  padding-bottom: 10px;
}
#homepage-content .panel-title {
  height: 40px;
  /*	background: #e0f2ff;
	*/
  position: relative;
  line-height: 250%;
  text-align: center;
}
#homepage-content .panel-title a {
  position: absolute;
  right: 30px;
  font-size: 13px;
}
#homepage-content .panel-title span {
  font-size: 20px;
}
#homepage-content .banner-right {
  height: 280px;
  text-align: center;
  position: relative;
}
#homepage-content .banner-right .button-wrapper {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#homepage-content .banner-right .button-wrapper > div {
  margin-top: 10px;
  font-size: 15px;
}
#homepage-content .banner-right .button-wrapper > .btn:first-child {
  margin-right: 50px;
}
#homepage-content .banner-right .button-wrapper {
  position: absolute;
  width: 100%;
}
#homepage-content .banner-right .button-wrapper .first-btn {
  margin-right: 50px;
}
#homepage-content .banner-right .button-wrapper.unlogin {
  bottom: 10px;
}
#homepage-content .banner-right .button-wrapper.unlogin > div {
  margin-top: 10px;
  font-size: 15px;
  color: #666666;
}
#homepage-content .banner-right .button-wrapper.login {
  bottom: 20px;
}
#homepage-content .banner-right .button-wrapper.login > div {
  font-size: 15px;
  color: #666666;
  margin-bottom: 10px;
}
#homepage-content .elastislide-list img {
  /*	padding: 5px;
	*/
  /*max-height: 120px;*/
  margin-left: 10px;
  margin-top: 5px;
}
#homepage-content .elastislide-list .doctor-des {
  text-align: center;
}
#homepage-content .elastislide-list .doctor-des h6 {
  font-size: 12px;
  color: #444;
  margin: 5px 0 0;
  font-weight: 700;
}
#homepage-content .elastislide-list .doctor-des p {
  font-size: 12px;
  color: #444;
}
#homepage-content .elastislide-carousel ul li.current-img a img {
  box-shadow: 0 0 3px 2px rgba(62, 235, 255, 0.8);
}
#homepage-content .elastislide-carousel ul li a img {
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px #000;
  width: 90px;
  height: 90px;
}
#homepage-content .doctor-preview {
  padding-right: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#homepage-content .doctor-preview .doctor-preview-des h6 {
  font-size: 15px;
}
#homepage-content .doctor-preview .doctor-preview-des span,
#homepage-content p {
  font-size: 13px;
}
#homepage-content .doctor-preview .image-preview {
  padding: 10px;
  float: left;
}
#homepage-content .doctor-slider {
  padding-right: 0px;
}
#homepage-content .doctor-preview .image-preview img {
  height: 145px;
  width: 120px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px #000;
}
