#hospital-user-content .form-inline {
  padding-left: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#hospital-user-content .form-inline .form-group {
  margin-right: 20px;
}
#hospital-user-content .form-inline .form-group #inName {
  width: 150px;
}
#hospital-user-content .form-inline .form-group .select .btn {
  width: 120px;
}
#hospital-user-content .form-inline .form-group label {
  margin-right: 10px;
}
#hospital-user-content .form-inline .form-group .input-wrapper {
  display: inline-block;
  width: 150px;
}
#hospital-user-content .form-inline .form-group .input-wrapper .input-sm {
  border-radius: 3px;
}
#hospital-user-content .form-inline .form-group .input-wrapper .input-group .btn {
  padding-top: 7px;
}
#hospital-user-content .result-table {
  margin-top: 10px;
  font-size: 15px;
}
#hospital-user-content .result-table .action-group > a {
  margin-right: 5px;
  text-decoration: underline;
}
#hospital-user-content #notsubmit-diagnose-wrapper .form-inline {
  margin-top: 10px;
  text-align: center;
}
#hospital-user-content #notsubmit-diagnose-wrapper .form-inline .multiselect-container li {
  text-align: left;
}
#hospital-user-content #notsubmit-diagnose-wrapper .form-inline .form-group {
  margin-right: 20px;
}
#hospital-user-content #notsubmit-diagnose-wrapper .form-inline .form-group input.form-control {
  max-width: 200px;
  border-width: 1px;
  padding-left: 20px;
}
#hospital-user-content #notsubmit-diagnose-wrapper .form-inline .form-group .submit-btn {
  width: 100px;
}
