body.login-page #header-region {
  min-height: 0;
  margin-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
body.login-page #header-region .logo {
  background: url(../../assets/image/logo-3.jpg) no-repeat;
  display: block;
  height: 35px;
}
body.login-page .footer {
  position: absolute;
  bottom: 0;
}
#loginpage-content {
  height: 100%;
  min-height: 100%;
}
#loginpage-content .content-wrapper {
  padding-top: 30px;
}
#loginpage-content .login-form-container {
  width: auto;
  /*height: 270px;*/
  max-width: 835px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 225px rgba(255, 255, 255, 0.55);
  box-shadow: 0 0 225px rgba(255, 255, 255, 0.55);
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  position: relative;
  margin: 0 auto;
  display: block;
}
#loginpage-content .login-form-container .login-error {
  color: red;
  font-size: 12px;
}
#loginpage-content .login-form-container .login-form-header {
  width: auto;
  max-width: 585px;
  padding: 0 10px;
  margin: 0 auto 10px;
  display: block;
  clear: both;
}
#loginpage-content .login-form-container .login-form-header h1 {
  padding: 40px 0 20px 0;
  clear: both;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #333;
  margin: 0;
  text-rendering: optimizeLegibility;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
#loginpage-content .login-form-container .login-form-header .submit-group button {
  width: 120px;
  margin-left: 15px;
  margin-right: 15px;
}
#loginpage-content .login-form-container .login-form-header .submit-group span {
  font-size: 13px;
}
#loginpage-content .login-form-container .login-form-header .submit-group a {
  font-size: 13px;
  margin-left: 30px;
}
#loginpage-content .login-form-container #loginSocial {
  width: auto;
  padding: 20px 10px;
  background-color: #f4f4f4;
  font-size: 13px;
  line-height: 13px;
  color: #999;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
#loginpage-content .login-form-container #loginSocial .bottom-group {
  max-width: 565px;
  margin: 0 auto;
}
#loginpage-content .login-form-container #loginSocial .bottom-group span {
  margin: 0 5px;
}
