#register-doctor-content .service-link,
#register-patient-content .service-link {
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 13px;
}
#register-patient-content .code-wrapper {
  padding-left: 17px;
}
#register-patient-content .code-wrapper #codeCheck {
  margin-right: 10px;
}
#register-patient-content .code-wrapper span {
  display: inline-block;
  margin-top: 4px;
}
#register-patient-content .divider-vertical {
  height: 250px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 40px;
}
#register-patient-content .other-register-wrapper .main-content-title {
  margin-left: 50px;
}
#register-patient-content .other-register-wrapper > div {
  margin-left: 50px;
  text-align: center;
}
#register-patient-content .other-register-wrapper > div .hospital-register-wrapper {
  margin-top: 50px;
}
