#preview-report-content {
  margin-bottom: 20px;
}
#preview-report-content .content-wrapper .download-link {
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 16px;
  text-decoration: underline;
}
#preview-report-content .content-wrapper .title {
  text-align: center;
  font-weight: 700;
}
#preview-report-content .content-wrapper .mark {
  text-align: right;
}
#preview-report-content .content-wrapper .mark h6 {
  font-size: 18px;
}
#preview-report-content .content-wrapper .patient-info span {
  font-size: 18px;
  margin-right: 20px;
}
#preview-report-content .content-wrapper .report-content {
  margin: 20px 0;
}
#preview-report-content .content-wrapper .report-content h6 {
  font-size: 20px;
  font-weight: 700;
}
#preview-report-content .content-wrapper .report-content p {
  font-size: 16px;
}
#preview-report-content .content-wrapper .description {
  margin-bottom: 30px;
}
#preview-report-content .content-wrapper .description h6 {
  font-size: 20px;
}
#preview-report-content .content-wrapper .sign {
  text-align: center;
  margin-top: 50px;
}
#preview-report-content .content-wrapper .sign span {
  font-size: 16px;
  margin-right: 100px;
}
