<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="ie lt-ie9">
<![endif]-->
<!--[if (gte IE 8)&(lt IE 10)]>
<html class="ie">
<![endif]-->
<html>
{% include 'head.html' %}
<body>
{%- block headerHolder %}
{% include 'header.html' %}
{%- endblock headerHolder %}
<div class="container">
    <div class="main-block full-height">
        {% include 'iconSearch.html' %}
        {%- block breadcrumbsHolder %}
        {%- endblock breadcrumbsHolder %}
        <div id="main-region">
            {%- block contentHolder %}{%- endblock contentHolder %}
        </div>
        {%- block footerHolder %}
        {% include 'footer.html' %}
        {%- endblock footerHolder %}

    </div>
</div>
{%- block ModalHolder %}
{%- endblock ModalHolder %}
{%- block scriptsHolder %}
{% include 'scripts.html' %}
{%- endblock scriptsHolder %}

</body>
</html>
