<html>
<head>
   <style>
    @font-face {
    font-family: msyh;
    src: url(/static/font/msyh.ttf);
    }
    body{
        font-family: msyh;
    }

    </style>
</head>
<body>
{% block body %}
<div width="100%" style="text-align:center;">
<h2 style="font-size:20pt;font-weight: 700">检查报告单</h2>
</div>
<div width="100%" style="text-align: right;">
   <h4>检查日期：2014-03-14</h4>
   <h4>影像号：245230045</h4>
</div>
<hr style="margin: 1em 0;"/>
<div width="100%">
 <span style="margin-right: 5em">张催化</span>
    <span style="margin-right: 5em">男</span>
    <span style="margin-right: 5em">62岁</span>
</div>
<hr style="margin: 1em 0;"/>
<h4>部位：头部平扫</h4>
<div width="100%" style="margin-top: 2em;">
    <h4>影像描述：</h4>
     <p width="100%" style="margin-left:2em;margin-bottom: 1em;word-wrap:CJK;">
        左尺桡骨形态，骨密度正常，未见明确骨质增生及破坏，左尺桡骨形态，骨密度正常，未见明确骨质增生及破坏，左尺桡骨形态。骨密度正<br/>
        常，未见明确骨质增生及破坏，左尺桡骨形态，骨密度正常，未见明确骨质增生及破坏，左尺桡骨形态，骨密度正常，未见明确骨质增生及<br/>
         破坏，左尺桡骨形态，骨密度正常，未见明确骨质增生及破坏</p>
    <h4>诊断意见：</h4>
    <P width="100%" style="margin-left:2em;margin-bottom: 1em;word-wrap:CJK;">1.左尺桡骨形态，骨密度正常，未见明确骨质增生及破坏，左尺桡骨形态。<br/>
        2.骨密度正常，未见明确骨质增生及破坏，左尺桡骨形态。<br/>
        3.骨密度正常，未见明确骨质增生及破坏</P>
    <h4>审核意见：</h4>
    <P width="100%" style="margin-left:2em;margin-bottom: 1em;word-wrap:CJK;">左尺桡骨形态，骨密度正常，未见明确骨质增生及破坏，左尺桡骨形态，骨密度正常，未见明确骨质增生及破坏，左尺桡骨形态。骨密度正<br/>
        常，未见明确骨质增生及破坏。</P>

</div>
<table width="100%" cellpadding="4" cellspacing="0" style="margin-top: 2em;">

    <tbody>
    <tr>
        <td width="50%">
            <h3 style="text-align: center;">诊断医师：张名2</h3>
        </td>
        <td width="50%">
            <h3 style="text-align: center;">审核医师：李响3</h3>
        </td>
    </tr>
    </tbody>
</table>


<hr style="margin: 3em 0;"/>
{% endblock %}
</body>
</html>