<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>51诊断</title>
    <link href="/static/stylesheet/lib/bootstrap.css" rel="stylesheet">
    <link href="/static/stylesheet/atc/flat-ui.css" rel="stylesheet">
    <link href="/static/stylesheet/lib/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/lib/bootstrap-treeview.min.css">

    <!-- for message box -->
    <link rel="stylesheet" href="/static/stylesheet/lib/messenger.css">
    <link rel="stylesheet" href="/static/stylesheet/lib/messenger-theme-future.css">

    <link rel="stylesheet" href="/static/stylesheet/lib/elastislide.css">

    <link href="/static/stylesheet/atc/global.css" rel="stylesheet">
    <link href="/static/stylesheet/atc/home.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/apply-diagnose.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/register.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/patient-home.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/doctor-home.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/report.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/doctor-list.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/doctor-site.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/fenzhen.css">

    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/loginpage.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/hospital-user.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/atc/errorpage.css">




    <!-- setup product page -->

    <link rel="stylesheet" href="/static/stylesheet/lib/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/stylesheet/lib/jquery.fileupload-ui.css">


    <noscript>
        <link rel="stylesheet" href="/static/stylesheet/lib/jquery.fileupload-noscript.css">
    </noscript>
    <noscript>
        <link rel="stylesheet" href="/static/stylesheet/lib/jquery.fileupload-ui-noscript.css">
    </noscript>
    <link href="/static/stylesheet/lib/bootstrap-multiselect.css" rel="stylesheet">
    <link href="/static/stylesheet/lib/ladda-themeless.min.css" rel="stylesheet">

    <!-- setup product end-->




    <!--  <link href="/static/stylesheet/atc/setup-product.css" rel="stylesheet">
     <link href="/static/stylesheet/atc/admin.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
    <script src="/static/app/lib/flatui/html5shiv.js"></script>
    <script src="/static/app/lib/flatui/respond.min.js"></script>
    <![endif]-->
</head>