{% extends "base.html" %}
{% block contentHolder %}
<div id="homepage-content" class="main-content-padding">

	<div class="row main-border-shadow home-highlight-wrapper">
		<div class="col-md-7 nopadding">
			<div id="homeCarousel" class="carousel slide" data-interval="false">
          	<!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#homeCarousel" data-slide-to="1"></li>
              <li data-target="#homeCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="/static/assets/image/carousel/slide-1.png" alt="">
                <div class="carousel-caption">
                  <h3>Thumbnail label</h3>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/image/carousel/slide-2.png" alt="">
                <div class="carousel-caption">
                  <h3>Thumbnail label</h3>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/image/carousel/slide-3.png" alt="">
                <div class="carousel-caption">
                  <h3>Thumbnail label</h3>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.</p>
                </div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control fui-arrow-left" href="#myCarousel" data-slide="prev"></a>
            <a class="right carousel-control fui-arrow-right" href="#myCarousel" data-slide="next"></a>
          </div>
		</div>
		<div class="col-md-5 nopadding main-entry-wrapper">
			<div class="banner-right">
				<h4>专业的医生，详细的诊断</h4>
				<p>远程诊断，提交影像数据，多位专家共同诊断</p>
				<div class="button-wrapper">
					<button class="btn btn-info" type="button">进入个人中心</button>
					<button class="btn btn-success" type="button">马上进行诊断</button>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-title row">
		<span>在线诊断的专家</span>
		<a>全部专家 &gt; </a>
	</div>
	<div class="row rowmarginbottom">

		<div class="col-md-4 doctor-preview">
			<div class="image-preview">
				<img id="preview" src="/static/assets/image/4.jpg" />
			</div>
			<div class="doctor-preview-des">
				<h6>
					任志强
					<span>副主任医师</span>
				</h6>
				<p>西安西京医院</p>
				<p>擅长泌尿科，肿瘤</p>
				<a>查看详细信息</a>
			</div>
		</div>
		<div class="col-md-8 doctor-slider">
			<ul id="carousel" class="elastislide-list">
                {% if data.doctors %}
                {% for i in data.doctors %}
                <li data-preview="/static/assets/image/9.jpg">
                    <a href="#">
                        <img src="{{ i.image }}" alt="{{i.count}}" />
                        <div class="doctor-des">
                            <h6>{{ i.name }} {{ i.title }}</h6>
                            <p>{{ i.department }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
                {% endif %}
			</ul>
		</div>
	</div>
	<div class="row main-content-wrapper">
		<div class="col-md-8 left-content-wrapper">
				<div class="row main-border-shadow rowmarginbottom mainpage-poster-wrapper">
					<div class="col-md-4">
					<h4 class="title-sep"><span class="glyphicon glyphicon-resize-full"></span> 挑选专家，上传影像</h4>
					<img src="/static/assets/image/doctortemp1.png" alt="doctortemp1">
					</div>
					<div class="col-md-4">
					<h4 class="title-sep"><span class="glyphicon glyphicon-ok"></span> 多位专家诊断并审核</h4>
					<img src="/static/assets/image/doctortemp1.png" alt="doctortemp1">
					</div>
					<div class="col-md-4">
					<h4 class="title-sep"><span class="glyphicon glyphicon-globe"></span> 正规诊断报告及后续服务</h4>
					<img src="/static/assets/image/doctortemp1.png" alt="doctortemp1">
					</div>
				</div>
				<div class="row highlighted-block-inside mainpage-feedback-block main-border-shadow">
					<h4 class="title-sep">诊断经验分享</h4>
					<div class="feedback-wrapper">
					<ul>

                        {% if data.comments %}
                        {% for comment in data.comments %}

                        <li>
															<span class="image">
																<img src="{{comment.avatar}}" alt="young-m"></span>
                            <dl>
                                <dt>
																	<span class="des-text">
																		诊断部位：
																		{{comment.positionName}}
																	</span>
                                    <span class="score">评价： {{comment.scoreName}}</span>
                                </dt>
                                <dd>
                                    {{comment.content}}
                                </dd>
                                <div class="time">{{comment.receiverName}}   于 {{comment.createTime}} 分享的就医经验</div>
                            </dl>
                        </li>
                        {% endfor %}
                        {% endif %}


						<li>
						<span class="image">
						<img src="/static/assets/image/young-m.png" alt="young-m">
						</span>
						<dl><dt><span>就诊医生：<a target="_blank" href="">秦智勇</a>&nbsp;&nbsp;<a target="_blank" href="">(复旦大学附属华山医院（总院）)</a></span><em>1周前</em></dt><dd>秦教授，你好，我是刘一璨五岁宝宝的父亲，感谢您，感谢您的悉心关注，感谢您。您的医德是全国医生的楷模。能遇见您是我的福分，祝愿您工作顺利，身体... <a target="_blank" href="">详情&gt;</a></dd></dl>
						</li>
					</ul>
					</div>
				</div>
			
		</div>
		<div class="col-md-4 right-content-wrapper no-right-padding">
			<div class="highlighted-block-inside website-main-news-block main-border-shadow rowmarginbottom">
				<h4 class="title-sep">网站专题<a href="#" title="more" class="more-link">更多&gt;</a></h4>
				<img src="/static/assets/image/doctortemp2.png" alt="doctortemp2">
				<img src="/static/assets/image/doctortemp2.png" alt="doctortemp2">
			</div>
			<div class="highlighted-block-inside website-actions-block main-border-shadow">
				<h4 class="title-sep">网站动态</h4>
				<div class="action-wrap">
				<ul>
				<li>
				<a href="#" target="_blank">[西安]西京医院与本网站合作.</a>
				</li>
				<li>
				<a href="#" target="_blank">[专家]李效力主任医生与本网站合作.</a>
				</li>
				</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock contentHolder %}
{% block ModalHolder %}
{% include 'loginModal.html' %}
{% endblock ModalHolder %}