	<div class="row">

		<div class="home-header-wrapper">

				<div class="content">
					<div id="logo" class="col-md-4">
						<div class="logo-bar">
							<a class="logo" href="/homepage" title="Home" rel="home"></a>
						</div>
					</div>

					<div class="col-md-6 search-group" style="display:none;">
						<div class="form-group">
							<div class="input-group input-group-sm">
								<span class="input-group-btn">
									<button type="submit" class="btn">
										<span class="fui-search"></span>
									</button>
								</span>
								<input class="form-control" placeholder="请输入疾病名，影像科目名，医院名，医生名" id="search-query-3" type="search">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">搜索</button>
								</span>
							</div>
						</div>

					</div>

				</div>
		</div>

	</div>