<div class="modal login-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">登录</h4>
                </div>
                <div class="modal-body">
                    <!-- UPDATE url -->

                    <form id="loginForm" role="form" action="/user?destination=node" method="post">
                      <div class="form-group">
                        <input class="form-control" id="inputUsername" placeholder="邮箱地址／手机号码" name="name">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="inputUserPassword" placeholder="密码" name="pass">
                      </div>
                      <input type="hidden" name="form_build_id" value="form-dcYw9pvKdV7FUWMAt9HyPDY8CRWCQL8wV_c2sw2aimk">
                      <input type="hidden" name="form_id" value="user_login">
                      <div class="form-group submit-group">
                        <button type="submit" nams="op" class="btn btn-info">登录</button>
                        <input id="rememberCheck" type="checkbox" class="no_indent" value="" checked="">
                        <span>自动登陆</span>
                        <a href="#"><span>忘记密码？</span></a>
                      </div>
                      <div class="remember-wrapper">
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span>新用户还没有帐号？</span>
                    <a href="#" class="">注册帐号</a>
                </div>
            </div>
        </div>
    </div>