<div class="modal" id="select-doctor-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">选择专家</h4>
                </div>
                <div class="modal-body">
                   <div class="row">
                      <form class="form-inline" role="form">
                        <div class="form-group">
                          <label class="" for="">所属医院：</label>
                          <select name="hospitalId" class=>
                            <option value="0">不限</option>
                              {% for i in result.hospitals %}
                              <option value="{{i.id}}">{{i.name}}</option>
                              {% endfor %}
                          </select>  
                        </div>
                        <div class="form-group">
                          <label class="" for="">擅长科目：</label>
                          <select name="skillId">
                            <option value="0">不限</option>
                              {% if result.positions %}
                              {% for i in result.positions %}
                              <option value="{{i.id}}">{{i.name}}</option>
                              {% endfor %}
                              {% endif %}
                          </select>                        
                        </div>
                        <div class="form-group">
                          <label class="" for="">姓名：</label>
                          <input id="inName" name="doctorname" class="form-control input-sm" type="text">                      
                        </div>
                        
                        <button type="submit" class="btn btn-sm btn-default search-btn">搜索</button>
                      </form>

                   </div>
                   <div id="doctorListRegion" class="all-doctor-wrapper">
                    
                    
                   </div>
                </div>
                <!-- <div class="modal-footer">
                    <span>新用户还没有帐号？</span>
                    <a href="#" class="">注册帐号</a>
                </div> -->
            </div>
        </div>
    </div>